\:root
  --background-color: #{'{{ theme.background_color }}'}

  --text-color: #{'{{ theme.text_color }}'}
  --link-text-color: #{'{{ theme.link_text_color }}'}
  --link-hover-color: #{'{{ theme.link_hover_color }}'}

  --shop-name-text-color: #{'{{ theme.shop_name_text_color }}'}
  --header-text-color: #{'{{ theme.header_text_color }}'}

  --button-background-color: #{'{{ theme.button_background_color }}'}
  --button-hover-background-color: #{'{{ theme.button_hover_background_color }}'}
  --button-text-color: #{'{{ theme.button_text_color }}'}

  --category-overlay-color: #{'rgba(var(--product-hover-overlay-color-rgb), .5)'}
  --product-hover-overlay-color: #{'rgba(var(--product-hover-overlay-color-rgb), .8)'}
  --product-hover-text-color: #{'{{ theme.product_hover_text_color }}'}

  --border-color: #{'{{ theme.border_color }}'}

  --hero-overlay-color: #{'{{ theme.hero_overlay_color }}'}
  --hero-text-color: #{'{{ theme.hero_text_color }}'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --announcement-background-color: #{'{{ theme.announcement_background_color }}'}
  --announcement-text-color: #{'{{ theme.announcement_text_color }}'}

  --product-status-background-color: #{"{{ theme.product_status_background_color }}"}
  --product-status-text-color: #{"{{ theme.product_status_text_color }}"}
  --product-status-background-color-secondary: #{"{{ theme.product_status_background_color_secondary }}"}
  --product-status-text-color-secondary: #{"{{ theme.product_status_text_color_secondary }}"}

  --inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}

  --primary-font: #{"{{ theme.primary_font | font_family }}"}
  --secondary-font: #{"{{ theme.secondary_font | font_family }}"}

  --border-radius: 4px
  --border-radius-sm: 2px

  --margin-size: 64px
  --side-padding: 40px

  --logo-max-height: #{"{{ theme.logo_image_height | append: 'px' }}"}
  --logo-max-height-mobile: 120px

  // Video player customization
  --video-rounded-radius: var(--border-radius)
  --video-margin-small: calc(var(--margin-size) / 4)
  --video-margin-large: var(--margin-size)
  --video-size-small: 500px
  --video-size-medium: 720px
  --video-size-large: calc(1080px + calc(var(--side-padding) * 2))
  --video-container-padding: 0 var(--side-padding)

  @media screen and (max-width: $break-small)
    --side-padding: 16px

html, body
  height: 100%
  min-height: 100%
  position: relative

body
  display: flex
  flex-direction: column
  background: var(--background-color)
  color: var(--text-color)
  line-height: 1.5
  font-family: var(--secondary-font)

a
  color: var(--link-text-color)
  text-decoration: none

  &:hover, &:focus
    color: var(--link-hover-color)

  &:hover
    text-decoration: underline
    text-underline-offset: 3px

a.skip-link
  transition: top .2s ease
  background: var(--background-color)
  border: 1px solid var(--text-color)
  color: var(--text-color)
  left: 24px
  padding: 16px 24px
  position: absolute
  text-decoration: underline  
  text-underline-offset: 3px
  top: -150px
  z-index: 100

  &:focus
    top: 20px

header
  display: flex
  align-items: center
  justify-content: center
  font-size: 3.75rem
  font-weight: 600
  max-width: calc(1080px + calc(var(--side-padding) * 2))
  padding: var(--margin-size) var(--side-padding)
  text-align: center
  width: 100%
  margin: 0 auto

  a
    &:hover
      text-decoration: none

  @media screen and (max-width: $break-small)
    padding: 32px var(--side-padding)
    font-size: 2.75rem
    line-height: normal

// Main navigation container
.top-nav
  display: flex
  padding: 16px 32px
  gap: 32px
  font-size: 1.25em
  font-weight: 500
  line-height: 1em
  font-family: var(--secondary-font)

  *
    text-transform: #{"{{ theme.nav_text_transform }}"}

  @media screen and (max-width: $break-medium)
    font-size: 1em
  
  @media screen and (max-width: $break-small)
    padding: 16px

  // Common styles for all interactive elements
  &__interactive
    border-bottom: 2px solid transparent
    color: inherit
    display: flex
    align-items: center
    padding: 8px

    &:hover, &:focus
      color: var(--link-hover-color)
      text-decoration: none

    &:hover
      border-bottom: 1px solid var(--link-hover-color)

  // Regular links and buttons should inherit from interactive
  a, button.nav-button
    @extend .top-nav__interactive

  // Links section
  &--links
    @media screen and (max-width: $break-small)
      display: none

    ul
      display: flex
      flex-wrap: wrap
      column-gap: 16px
      row-gap: 8px
      align-items: center
      margin: 0
      padding: 0
      list-style: none

      li
        margin: 0
        padding: 0

  // Dropdown container
  &__dropdown
    position: relative
    width: auto
    z-index: 4

    // Dropdown button
    &-button
      @extend .top-nav__interactive
      display: flex
      align-items: center
      justify-content: center
      gap: 8px
      outline-offset: 4px

      &:focus
        color: var(--link-hover-color)

    // Dropdown arrow
    &-arrow
      fill: currentColor
      pointer-events: none
      width: 12px

    // Dropdown content
    &-content
      background: var(--background-color)
      transition: opacity .2s linear, visibility .2s linear
      border-radius: var(--border-radius)
      border: 1px solid var(--text-color)
      margin: 0 auto
      min-width: 250px
      opacity: 0
      overflow-y: scroll
      padding: 15px
      position: absolute
      text-align: left
      visibility: hidden
      height: auto
      max-height: 70vh
      z-index: 3
      top: calc(100% + 16px)
      scrollbar-width: thin
      scrollbar-color: #{"rgba(var(--header-text-color-rgb),.5)"} transparent
      scrollbar-gutter: stable

      ul
        display: block

        .divider
          height: 1px
          width: 10px
          background-color: var(--text-color)
          margin: 8px
          list-style: none

      a
        &:hover
          text-decoration: none
          border-bottom: none

      &[aria-hidden="false"]
        opacity: 1
        visibility: visible

      // Scrollbar styling
      &::-webkit-scrollbar
        height: .375rem
        width: .75rem

      &::-webkit-scrollbar-track
        background-color: transparent

      &::-webkit-scrollbar-thumb
        border-radius: .375rem
        border: 3px solid transparent
        background-color: #{"rgba(var(--primary-text-color-rgb),.5)"}
        background-clip: content-box

  &__icons
    display: flex
    gap: 32px
    margin-left: auto
    flex-shrink: 0

    &-cart
      @extend .top-nav__interactive
      align-items: center
      gap: 12px

  &__mobile-menu
    display: none

    @media screen and (max-width: $break-small)
      display: flex
      align-items: center
      justify-content: center

      .open-mobile-navigation
        display: flex
        align-items: center
        justify-content: center
        height: 36px
        width: 36px
        padding: 8px

.header-store-link
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-family: var(--primary-font)
  font-weight: 500
  overflow-wrap: break-word
  word-break: break-word
  color: var(--shop-name-text-color)

.store-logo
  max-height: var(--logo-max-height)

  @media screen and (max-width: $break-small)
    max-height: var(--logo-max-height-mobile)

h1, h2, h3, h4, h5, h6
  color: var(--header-text-color)
  font-family: var(--primary-font)
  font-weight: 700
  line-height: normal

#main
  flex: 1
  padding-bottom: var(--margin-size)

  .content-wrapper
    margin: 0 auto
    max-width: calc(1080px + calc(var(--side-padding) * 2))
    padding: 0 var(--side-padding)

    &--home
      max-width: 100%
      padding: 0

      h1.page-title
        margin-bottom: 48px

      .home-content
        margin: 0 auto
        padding: 0 var(--side-padding)
        max-width: calc(1080px + calc(var(--side-padding) * 2))

    .custom-page
      margin: 0 auto
      max-width: 768px
      width: 100%

    &--products
      h1.page-title
        margin-bottom: 0

    &--contact
      max-width: calc(600px + calc(var(--side-padding) * 2))

    &--product
      max-width: calc(1200px + calc(var(--side-padding) * 2))

    &--cart
      h1.page-title
        margin-bottom: 48px

  h1
    font-size: 2rem
    font-weight: 700

    @media screen and (max-width: $break-small)
      font-size: 1.75rem

  .page-title
    margin-bottom: 32px
    text-align: center

    &--left
      text-align: left

footer
  padding: 64px 0
  font-family: var(--secondary-font)
  width: 100%

  @media screen and (max-width: $break-small)
    padding: 32px 0

  .wrapper
    display: flex
    gap: 32px
    align-items: flex-start
    justify-content: center
    flex-wrap: wrap
    max-width: 1080px
    padding: 50px
    margin: 0 auto

    @media screen and (max-width: $break-small)
      padding: 0 40px 30px 40px

    @media screen and (max-width: $break-extra-small)
      flex-direction: column
      padding: 30px

.footer-custom-content
  display: grid
  grid-template-columns: 1fr
  justify-content: center
  text-align: center
  padding: 10px 50px 20px 50px
  gap: 20px

  > *
    justify-self: center

.footer-nav
  display: flex
  flex-direction: column
  flex: 1
  max-width: 225px
  padding-top: 10px
  position: relative
  width: 100%

  @media screen and (max-width: $break-small)
    max-width: 100%
  
  .footer-nav-title
    font-weight: 700
    font-size: 1.1em
    margin-bottom: 16px

    a
      color: inherit

      &:hover
        text-decoration: underline

  ul
    display: flex
    flex-direction: column
    gap: 12px

    @media screen and (max-width: $break-small)
      display: block
      column-gap: 32px
      column-count: 2
      column-width: 40vw

    @media screen and (max-width: $break-extra-small)
      column-gap: 20px

    li
      display: flex
      align-items: flex-start
      justify-content: flex-start

      @media screen and (max-width: $break-small)
        padding-bottom: 16px

      a
        color: var(--text-color)
        display: block
        font-size: 1em

        &:hover, &:focus
          text-decoration: underline

    &.social-links
      a
        color: var(--text-color)
        display: flex
        align-items: center
        gap: 12px

        svg
          flex-shrink: 0
          fill: currentColor
          height: 16px
          position: relative
          width: 16px

.social-icons
  display: flex
  gap: 20px
  list-style: none
  margin: 0
  padding: 0
  flex-wrap: wrap
  justify-content: center

  @media screen and (max-width: $break-extra-small)
    gap: 16px

  a
    color: var(--text-color)
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 36px
    height: 36px

    &:hover
      color: var(--link-hover-color)

    svg
      fill: currentColor
      height: 22px
      width: 22px

      &.tumblr-icon
        width: 14px

.credit-container
  margin-left: auto
  position: relative
  padding-top: 10px
  margin: 0

  @media screen and (max-width: $break-medium)
    margin: 0 auto
    width: 100%
    text-align: center

  @media screen and (max-width: $break-small)
    margin-left: 16px
    width: auto
    text-align: left

  &--primary
    @media screen and (max-width: $break-medium)
      display: none

  &--secondary
    display: none
    padding-top: 20px

    @media screen and (max-width: $break-medium)
      display: inline

  .bigcartel-credit
    line-height: 1em
    font-size: .875rem
    display: flex
    flex-direction: column
    gap: 8px
    outline-offset: 4px
    padding: 2px 0
    color: var(--text-color)
    text-decoration: none

    @media screen and (max-width: $break-medium)
      font-size: 15px
      flex-direction: row
      align-items: center
      justify-content: center
      width: 100%

    &__text
      position: relative

    &__lockup
      display: block
      fill: currentColor
      padding-top: 1px
      width: 86px

    &:hover
      text-decoration: none

.custom-page--content, .product-detail__description
  p
    margin: revert

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  ol, ul
    padding-left: 1.5em
    margin: 1em 0

    ol, ul
      margin: 0.5em 0

  ul
    list-style: disc

  ol
    list-style: decimal

  a
    text-decoration: underline
    text-underline-offset: 3px

  img
    display: inline-block
    max-width: 100%
    margin: 0 auto
    padding-bottom: 16px
  
  iframe
    display: block
    margin: 0 auto
    max-width: 100%
    margin-bottom: 16px

.select
  border-radius: var(--border-radius)
  position: relative
  border: 1px solid var(--text-color)
  color: var(--text-color)
  height: 56px
  margin-bottom: 16px
  padding: 0
  position: relative
  width: 100%

  select
    background: none
    border: 0
    height: 100%
    padding: 0 40px 0 12px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    fill: currentColor
    height: 8px
    position: absolute
    pointer-events: none
    right: 14px
    top: 50%
    transform: translateY(-50%)
    width: 14px
    z-index: 1

.message-banner
  border-radius: var(--border-radius)
  background-color: var(--announcement-background-color)
  color: var(--announcement-text-color)
  padding: 16px
  margin-bottom: 32px
  text-align: left
  width: 100%

  &--centered
    text-align: center

  &--no-bg
    background: none
    padding: 0

  &--errors
    background-color: var(--error-background-color)
    color: var(--error-text-color)

button.button, a.button, div.button
  +appearance(none)
  background: var(--button-background-color)
  color: var(--button-text-color)
  border-radius: var(--border-radius)
  display: flex
  align-items: center
  justify-content: center
  padding: 16px
  font-weight: 700
  max-width: 276px
  text-decoration: none
  white-space: pre-wrap
  width: 100%

  @media screen and (max-width: $break-small)
    max-width: 100%

  &:hover, &:focus
    background: var(--button-hover-background-color)

  &--minimal
    background: none
    border: 0
    color: var(--text-color)
    text-underline-offset: 3px
    font-weight: normal

    &:hover, &:focus
      text-decoration: underline
      background: none
      border: 0
      color: var(--link-hover-color)

  &--centered
    margin: 0 auto

  &--secondary
    background: none
    border: 2px solid var(--text-color)
    color: var(--text-color)
    text-align: center

    &:hover, &:focus
      background: none
      border: 2px solid var(--link-hover-color)
      color: var(--link-hover-color)

.icon-button
  color: var(--text-color)
  display: flex
  align-items: center
  justify-content: center

  &:hover, &:focus
    color: var(--link-hover-color)

  svg
    fill: currentColor
.sr-only
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
