.maintenance-page
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 16px

  .maintenance-content
    display: flex
    flex-direction: column
    gap: var(--margin-size)
    border-radius: var(--border-radius)
    max-width: 980px
    margin: 0 auto
    padding: 50px
    border: 1px solid var(--border-color)
    width: 50%

    h1
      font-size: 3.75rem

    @media screen and (max-width: $break-medium)
      padding: 40px 20px
      width: 80%

    @media screen and (max-width: $break-small)
      padding: 40px 20px
      width: 100%

      h1 
        font-size: 3rem

  .maintenance-message
    padding: 10px
    font-size: 1.25rem
    font-weight: 700