.product-container
  display: grid
  grid-template-columns: 1fr 480px
  column-gap: 60px
  row-gap: 40px

  @media screen and (max-width: $break-medium)
    grid-template-columns: 1fr 325px

  @media screen and (max-width: $break-small)
    grid-template-columns: minmax(0, 1fr)

.product-password-form-container
  margin: 60px auto
  padding: 0 20px

  h1
    font-size: 1.5rem
    font-weight: 400

.product-breadcrumb
  margin-bottom: 24px

  a
    text-decoration: none

    &:hover
      text-decoration: underline
      text-underline-offset: 3px

.reset-selection-button-container
  text-align: center
  width: 100%

  button.reset-selection-button
    display: none

.product-form
  button
    max-width: 100%

  .select
    margin: 0

.product_option_groups
  display: flex
  flex-direction: column
  gap: 16px

.product-selects
  margin-bottom: 36px

.product-detail
  display: flex
  flex-direction: column
  row-gap: 36px

  &__header
    display: flex
    flex-direction: column
    row-gap: 8px
    align-items: flex-start

  &__status
    border-radius: var(--border-radius-sm)
    text-transform: uppercase
    font-size: .875rem
    line-height: normal
    font-weight: 500
    display: inline-block
    padding: 6px
    letter-spacing: 1.1px

    &.status-primary
      background: var(--product-status-background-color)
      color: var(--product-status-text-color)

    &.status-secondary
      background: var(--product-status-background-color-secondary)
      color: var(--product-status-text-color-secondary)

  h1
    margin-bottom: 0 !important

#instant-checkout-button
  margin-top: 12px

.inventory-status-message
  color: var(--inventory-status-text-color)
  margin: 10px 0 auto
  text-align: center
  padding: 8px 0
  font-weight: 500

.related-products-container
  margin-top: calc(var(--margin-size) * 2)

  @media screen and (max-width: $break-medium)
    margin-top: calc(var(--margin-size) * 1.5)

.related-products-header
  display: flex
  align-items: center

  @media screen and (max-width: $break-small)
    display: block

  .related-products-view-all-link
    margin-left: auto
    font-weight: 700

    &:hover
      text-decoration: underline
      text-underline-offset: 3px

.related-product-list
  --columns: 4

  @media screen and (max-width: $break-medium)
    --columns: 3
  
  @media screen and (max-width: $break-small)
    --columns: 2

#payment-processor-messaging
  margin: 20px 0 0
  width: 100%
  display: block
  
  body[data-bc-page-type="cart"] &
    margin-bottom: 20px

  &.display-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &.dual-messaging
      gap: 15px

  &.display-grid
    display: grid
  
  &.hidden
    position: absolute
    left: -9999px
    top: -9999px

  > div
    margin-bottom: 0
  
  // Only apply the margin for non-flex layouts when dual messaging is present
  &:not(.display-flex)
    &.dual-messaging > div.visible:first-of-type
      margin-bottom: 15px